
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color:#E3EEF6;
}


.header {
  background-color: #E3EEF6;
  padding: 30px 20px;
  text-align: center;
}

.login {
	width:100%;
	height:460px;
	background-color:#C8D9E4;
}

.articles-news {
	width:100%;
	height:50px;
	background-color:#C8D9E4;
}

.newsart{
  float:left;
}
.newsart a{
  display: inline-block;
  color: Black;
  text-align: center;
  padding: 14px 16px;
  font-size: 16px;
}

.newsart a:hover{
  background-color: #E3EEF6;
}
 

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#C8D9E4;
}

li {
  float: right;
}

li a, .dropbtn {
  display: inline-block;
  color: Black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.container {
  border-radius: 5px;
  background-color: #C8D9E4;
  padding: 20px 0 30px 0;
} 

h3{
 text-align: left;
}

.container img{
	height: 300px;
    margin-top: 25px;
 
}

/* ABOUT US EDIT*/


.intro-container {
	width:80%;
	height:400px;
	background-color:#C8D9E4;
	border-radius:20px;
	box-shadow:2px 2px 12px rgba(0,0,0,0.);
	display:flex;
	margin:-7% auto 20px auto;
	position:relative;
	justify-content: space-evenly;
	align-items:center;
}
.intro-container img{
	height: 300px;
    margin-top: 25px;
}
.intro-one{
	width:550px;
}
.intro-one p:nth-child(1){
	color:#403e3e;
	font-family: myriad pro;
	font-weight:bold;
	font-size: 23px;
	line-height:0px;
}
.intro-one p:nth-child(2){
	color:#666666;
	font-size:16px;
	font-family: system-ui;
	line-height: 25px;
}

.button {
	width: 120px;
	height: 40px;
	color:black;
  font-size:16px;
	outline:none;
	border:none;
	font-family: calibri;
	background:#E3EEF6;
}
.button:hover {
  background-color: #D1CFCE;
  color: #737373;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


#more{
  display: none;
}


.onee{
	width:50%;
	height:400px;
	background-color:#C8D9E4;
	border-radius:20px;
	box-shadow:2px 2px 12px rgba(0,0,0,0.);
	display:flex;
	margin:-7% auto 20px auto;
	position:relative;

}


.onee img{
	height: 400px;
  width:
    margin-top: 25px;
}

/*SA CHAAAAATBOOOOX*/

.open-button {
  background-color:#C8D9E4;
  color:BLACK;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #C8D9E4;
  z-index: 9;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-container textarea {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #C8D9E4;
  resize: none;
  min-height: 200px;
}

.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #6666;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container .cancel {
  color:white;
  background-color: #666;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
